<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marshrut">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Marshrut">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Marsh"
            android:exported="false"></activity>
        <activity android:name=".dos1"
            android:exported="false"></activity>
        <activity android:name=".dos2"
            android:exported="false"></activity>
        <activity android:name=".dos3"
            android:exported="false"></activity>
        <activity android:name=".dos4"
            android:exported="false"></activity>
        <activity android:name=".dos5"
            android:exported="false"></activity>
        <activity android:name=".dos6"
            android:exported="false"></activity>
        <activity android:name=".dos7"
            android:exported="false"></activity>
        <activity android:name=".dos8"
            android:exported="false"></activity>
        <activity android:name=".dos9"
            android:exported="false"></activity>
        <activity android:name=".dos10"
            android:exported="false"></activity>
        <activity android:name=".dos11"
            android:exported="false"></activity>
    </application>

</manifest>